# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# build directories
.build

# Directory for coverage tools
lib-cov
coverage
.nyc_output

#Extra Excludes
.DS_Store
.vscode
build/

