service: calculator

provider:
  name: aws
  runtime: nodejs8.10

package:
  exclude:
    - web/**
    - tests/**
    - .git/**
    - coverage/**
    - .sonar/**
    - src/**
    - node_modules/@types/**
    - build/**/*.js.map
    - build/test/**
    - tsconfig.json
    - .env
    - .gitignore
    - .npmignore
    - event.json
    - README.md

functions:
  add:
    handler: build/src/functions/add/handler.add
    events:
      - http:
          path: add
          method: post
          cors: true
  divide:
    handler: build/src/functions/divide/handler.divide
    events:
      - http:
          path: divide
          method: post
          cors: true
  multiply:
    handler: build/src/functions/multiply/handler.multiply
    events:
      - http:
          path: multiply
          method: post
          cors: true
  subtract:
    handler: build/src/functions/subtract/handler.subtract
    events:
      - http:
          path: subtract
          method: post
          cors: true
          
plugins:
  - serverless-offline